@media only screen and (min-width : 1600px) {
    .fallingImg ul {
        max-width: 80rem;
        top: -34rem;
    }
}

@media only screen and (max-width : 1200px) {
    .headMenu ul li a {
        padding: 22px 20px;
    }
}

@media only screen and (max-width : 1024px) {

    .headLogo {
        width: 180px;
        height: 50px;
    }

    .headMenu {
        display: none;
    }

    .mainBanner {
        margin: 80px 0;
    }

    .mainBtn {
        padding-left: 0;
    }

    .banContent h1,
    .healpUsRow h2 {
        font-size: 90px;
        line-height: 90px;
    }

    .banContent h1::after {
        height: 22px;
        bottom: 20px;
        max-width: 500px;
    }

    .banContent {
        gap: 30px;
    }

    .banContent p {
        max-width: 400px;
    }

    .mainBtn a {
        font-size: 14px;
        line-height: 13px;
        padding: 10px 12px 12px
    }

    .mainBtn::before {
        width: 55px;
    }

    .morePlayerRow {
        gap: 20px;
    }

    .playerCardBox {
        height: 350px;
    }

    .playerCardFront {
        padding: 15px 10px;
    }

    .playerCardFront::before,
    .playerCardFront::after {
        height: 60px;
    }

    .playerName h3 {
        font-size: 20px;
        line-height: 20px;
        min-height: 20px;
        max-height: 20px;
    }

    .playerName span {
        font-size: 14px;
        line-height: 14px;
    }

    .playerImg {
        height: 235px;
    }

    .playerImg img {
        top: 5px;
    }

    .morePlayer .mainBtn {
        padding-top: 40px;
    }

    .morePlayer {
        margin: 80px 0;
    }

    .helpUs {
        margin: 80px 0;
    }

    .healpUsRow {
        gap: 20px;
    }

    .healpUsRow .mainBtn::before {
        height: 55px;
    }

    .healpUsRow::after {
        height: 300px;
        width: 200px;
        bottom: -180px;
    }

    .healpUsRow {
        padding-bottom: 80px;
    }

    .supportRowLeft {
        padding: 50px 0 180px;
    }

    .supportRowLeft h2,
    .supportRowRight h2 {
        font-size: 42px;
        line-height: 42px;
        margin-bottom: 30px;
    }

    .supportRowLeft span,
    .supportRowRight span {
        margin-bottom: 20px;
    }

    .supportRowRight {
        padding: 40px;
    }

    .supportRowRight::after,
    .supportRowRight::before {
        width: 40px;
    }

    .supportRowLeft::after {
        height: 300px;
        width: 200px;
    }

    .donate {
        margin: 80px 0;
    }

    .fallingImgMain {
        width: 45rem;
        height: 15rem;
    }

    .playerCardDeatils h4 {
        font-size: 26px;
        line-height: 26px;
    }

    /* header drawer */

    #drawerItemHldr {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        background: #4141C1 url(../img/bodyBg.png) repeat 0 0 / 200px;
        position: fixed;
        top: 0;
        left: -100%;
        opacity: 0;
        transition: all 0.3s ease-in-out;
        height: 100vh;
        width: 100%;
        max-width: 400px;
        z-index: 999;
        box-shadow: 0 0 60px #e58af7;
        padding: 20px;
    }

    #drawerItemHldr.visible {
        left: 0;
        opacity: 1;
    }

    body:has(#drawerItemHldr.visible) {
        overflow: hidden !important;
    }

    .drawer-btn {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 24px;
        cursor: pointer;
        position: relative;
        z-index: 1000;
        gap: 4px;
    }

    .hamburger-line {
        display: block;
        width: 100%;
        height: 4px;
        background-color: #fff;
        border-radius: 2px;
        transition: all 0.3s ease-in-out;
        position: relative;
    }

    .drawer-btn.active .hamburger-line:nth-child(1) {
        transform: rotate(45deg);
        top: 10px;
        position: absolute;
    }

    .drawer-btn.active .hamburger-line:nth-child(2) {
        opacity: 0;
    }

    .drawer-btn.active .hamburger-line:nth-child(3) {
        transform: rotate(-45deg);
        top: 10px;
        position: absolute;
    }

    .headRow {
        grid-template-columns: 1fr max-content;
    }

    .headMenu ul {
        flex-direction: column;
        gap: 20px;
        align-self: center;
    }

    .headMenu ul li a {
        max-width: 300px;
        min-width: 300px;
        text-align: center;
    }

    .headMenu ul li:not(:first-child) a {
        border-left: 1px dashed #fff;
    }

    /* header drawer */


    .ballAnimated {
        margin: 80px 0px 0px;
    }

    .ballAnimated .container::before {
        height: 300px;
        width: 300px;
    }

    .ballAnimatedRow {
        height: 300px;
    }

    @keyframes rollLeftToRight {
        0% {
            transform: translateX(-100%) rotate(0deg);
        }

        100% {
            transform: translateX(calc(100vw - 300px)) rotate(360deg);
        }
    }


}

@media only screen and (max-width: 768px) {
    .headLogo {
        width: 160px;
        height: 45px;
    }

    .mainBanner {
        margin: 60px 0;
    }

    .banContent h1,
    .healpUsRow h2 {
        font-size: 70px;
        line-height: 70px;
    }

    .banContent h1::after {
        height: 20px;
        bottom: 12px;
        max-width: 400px;
    }

    .banContent p {
        grid-column: span 2;
    }

    .banContent {
        gap: 20px;
    }

    .morePlayer {
        margin: 60px 0;
    }

    .morePlayerRow {
        grid-template-columns: repeat(2, 1fr);
    }

    .morePlayer .mainBtn {
        position: relative;
        grid-column: span 2;
        margin: 0 auto;
        transform: unset;
        top: 0;
        right: 0;
    }

    .playerCardBox {
        height: 450px;
    }

    .playerImg {
        height: 390px;
    }

    .playerCardFront::after {
        right: 0;
    }

    .helpUs {
        margin: 60px 0;
    }

    .healpUsRow .mainBtn::before {
        height: 50px;
    }

    .healpUsRow::after {
        height: 250px;
        width: 150px;
        bottom: -170px;
    }

    .supportRowRight::after {
        right: 0;
    }

    .supportRowLeft {
        padding: 40px 20px 140px;
    }

    .supportRowLeft h2,
    .supportRowRight h2 {
        font-size: 34px;
        line-height: 34px;
        margin-bottom: 20px;
    }

    .supportRowLeft::after {
        height: 250px;
        width: 150px;
        bottom: -150px;
        left: 20px;
    }

    .donateTop {
        grid-template-columns: repeat(1, 1fr);
    }

    .donateTop .mainBtn {
        margin: 30px auto 0;
    }

    .donateTop p {
        max-width: 625px;
        margin: 0 auto;
    }

    .fallingImg {
        margin-top: 0rem;
    }

    .fallingImg {
        padding-top: 30rem;
    }

    .fallingImgMain {
        width: 38rem;
        height: 12rem;
    }

    .fallingImg ul {
        top: -31rem;
    }

    .playerCardDeatils h4 {
        font-size: 23px;
        line-height: 23px;
    }

    .donate {
        margin: 60px 0;
    }

    .supportRow {
        grid-template-columns: repeat(1, 1fr);
    }

    .support::after {
        display: none;
    }

    .support .container {
        padding: 0;
    }

    .donateTop p {
        margin-left: 0;
        margin-right: auto;
        padding-left: 0;
    }

    .donateTop .mainBtn {
        margin: 30px auto 0 0;
    }

    .ballAnimated {
        margin: 60px 0px 0px;
    }

    .ballAnimated .container::before {
        height: 200px;
        width: 200px;
    }

    .ballAnimatedRow {
        height: 200px;
    }

    @keyframes rollLeftToRight {
        0% {
            transform: translateX(-100%) rotate(0deg);
        }

        100% {
            transform: translateX(calc(100vw - 200px)) rotate(360deg);
        }
    }

    .us-placement .playerCardBoxHldr {
        padding: 15px;
    }

}

@media only screen and (max-width: 576px) {

    .container,
    .page-width {
        padding: 0 15px;
    }

    .headLogo {
        width: 140px;
        height: 40px;
    }

    .banContent h1,
    .healpUsRow h2 {
        font-size: 40px;
        line-height: 40px;
    }

    .banContent h1::after {
        height: 12px;
        bottom: 7px;
        max-width: 220px;
    }

    .mainBanner {
        margin: 40px 0;
    }

    .banContent p {
        font-size: 14px;
        line-height: 19px;
    }

    .mainBtn a {
        font-size: 12px;
        line-height: 10px;
        padding: 8px 15px 10px;
    }

    .mainBtn::before {
        width: 40px;
    }

    .morePlayer {
        margin: 40px 0;
    }

    .morePlayerRow {
        grid-template-columns: repeat(1, 1fr);
    }

    .playerCardBox {
        grid-column: span 2;
    }

    .playerCardBox {
        height: 470px;
    }

    .playerImg {
        height: 410px;
    }

    .playerCardDeatils h4 {
        font-size: 20px;
        line-height: 20px;
    }

    .morePlayer .mainBtn {
        padding-top: 20px;
    }

    .healpUsRow p {
        font-size: 14px;
        line-height: 19px;
    }

    .helpUs {
        margin: 40px 0;
    }

    .healpUsRow .mainBtn::before {
        height: 40px;
    }

    .healpUsRow::after {
        height: 200px;
        width: 120px;
        bottom: -120px;
    }

    .supportRowRight::after,
    .supportRowRight::before {
        width: 30px;
    }

    .supportRowRight::after {
        right: 0;
    }

    .supportRowLeft {
        padding: 30px 15px 100px;
    }

    .supportRowLeft span,
    .supportRowRight span {
        margin-bottom: 15px;
        font-size: 14px;
        line-height: 14px;
    }

    .supportRowLeft h2,
    .supportRowRight h2 {
        font-size: 28px;
        line-height: 28px;
        margin-bottom: 15px;
    }

    .supportRowLeft p,
    .supportRowRight p {
        margin-bottom: 25px;
        font-size: 14px;
        line-height: 19px;
    }

    .supportRowLeft .learnBtn,
    .supportRowRight .learnBtn {
        font-size: 14px;
        line-height: 19px;
    }

    .supportRowLeft::after {
        height: 200px;
        width: 130px;
        bottom: -110px;
        left: 10px;
    }

    .donate {
        margin: 40px 0;
    }

    .donateTop p {
        font-size: 14px;
        line-height: 19px;
    }

    .donateTop .mainBtn {
        margin: 20px auto 0 0;
    }

    .fallingImg {
        margin-top: 0rem;
    }

    .fallingImgMain {
        width: 30rem;
        height: 10rem;
    }

    .fallingImg ul {
        top: -25rem;
    }

    .fallingImg {
        padding-top: 23rem;
    }

    .footerRow {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
    }

    .mainFooter {
        padding: 15px 0;
    }

    .footLeft p,
    .footRight ul li a {
        font-size: 14px;
        line-height: 19px;
    }

    .supportRowRight {
        padding: 30px;
    }

    .ballAnimated {
        margin: 60px 0px 0px;
    }

    .ballAnimated .container::before {
        height: 130px;
        width: 130px;
    }

    .ballAnimatedRow {
        height: 130px;
    }

    .us-placement .playerCardBoxHldr {
        padding: 10px;
    }

    @keyframes rollLeftToRight {
        0% {
            transform: translateX(-100%) rotate(0deg);
        }

        100% {
            transform: translateX(calc(100vw - 130px)) rotate(360deg);
        }
    }


}